body {
    background-color: #222555;
    font-family: 'Raleway';
  
}

.container {
    margin: auto;
    width: 50%;
    border-radius: 25px;
    padding: 20px;
    background-color: rgb(238, 230, 230);
}

.container label {
    /* display: none; */
    font-size: 14px;
    font-weight: 600;
    color: #0f172a;
  
}

.container input {
    width: 100%;
   
    padding: 8px 0;
    background-color: rgb(238, 230, 230);
    border: none;
    border-bottom: 1px solid black;
    color: black;
}

.container input:focus {
    outline: none;
    border-bottom: 2px solid black;
}

.container select {
    /* margin: 5px 0; */
    margin-right: 5px;
    width: 100%;
    background-color: inherit;
    color: black;
    border: none;
    border-bottom: 1px solid grey;
    padding: 12px 0;
    font-weight: 500;
}

.btn button {
  padding: 10px;
  margin-top: 20px;
 
}

.navbar {
    background-color: #0f172a;
    width: fit-content;
    height: 97%;
    position: fixed;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.navbar ul li {
    margin: 5px;
    width: 150px;
}

.navbar li a {
    display: block;
    color: #fff;
    padding: 8px 0;
    text-decoration: none;
    margin: auto;
    width: 100%;
    text-align: center;
}

.navbar li a:hover {
    background-color: #1e3a8a;
    color: white;

}


.navbar li a.active {
    background-color: #04AA6D;
    color: white;
}

.notices{
    background-color:#1e3a8a;
}
 

